services:
  nebulafx:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: NebulaFX-Prod
    restart: unless-stopped
    security_opt:
      - "no-new-privileges:true"
    env_file:
      - .env
    ports:
      - "${NEUBULAFX_PORT:-9000}:9000" # S3 API port
    environment:
      - NEUBULAFX_VOLUMES=${NEUBULAFX_VOLUMES:-/deploy/data/pro/nebulafx{1...8}}
      - NEUBULAFX_ADDRESS=0.0.0.0:9000
      - NEUBULAFX_EXTERNAL_ADDRESS=${NEUBULAFX_EXTERNAL_ADDRESS:-:9000}
      - NEUBULAFX_CORS_ALLOWED_ORIGINS=${NEUBULAFX_CORS_ALLOWED_ORIGINS:-*}
      - NEUBULAFX_CONSOLE_CORS_ALLOWED_ORIGINS=${NEUBULAFX_CONSOLE_CORS_ALLOWED_ORIGINS:-*}
      - NEUBULAFX_ACCESS_KEY=${NEUBULAFX_ACCESS_KEY:-nebulafxadmin}
      - NEUBULAFX_SECRET_KEY=${NEUBULAFX_SECRET_KEY:-nebulafxadmin}
      - NEUBULAFX_LOG_LEVEL=${NEUBULAFX_LOG_LEVEL:-info}
      - RUST_LOG=${RUST_LOG:-info}
      - NEUBULAFX_TLS_PATH=${NEUBULAFX_TLS_PATH:-/opt/tls}
    volumes:
      - ./deploy/data/pro:/deploy/data/pro
      - ./deploy/logs:/app/logs
      - ./deploy/data/certs:/opt/tls # TLS configuration
    networks:
      - resources
    healthcheck:
      test:
        [
          "CMD",
          "sh", "-c",
          "curl -f http://localhost:9000/health && curl -f http://localhost:9000/nebulafx/console/health"
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

networks:
  resources:
    external: true

